 @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,600&display=swap');
 body {
     font-family: 'Sarabun', Helvetica, Arial, sans-serif !important;
     font-weight: normal;
     font-style: normal;
     background-color: #fff !important;
 }
 /*----------------Report Print------------------------*/
 
 .report-header {
     color: #004085;
     background-color: #cce5ff;
     border-color: #b8daff;
     padding: 20px;
 }
 
 .report-header-title {
     font-size: 20pt;
     font-weight: bold;
 }
 
 .report-header-subtitle {
     font-size: 16pt;
     font-weight: normal;
     line-height: 35px;
 }
 
 .report-body {
     margin: 10px;
     padding: 10px;
     font-size: 16px !important;
 }
 
 .report-text {
     padding-left: 10px;
 }
 /*----------------END Report Print------------------------*/